.io-model{
    position: relative;
}
#io_model_info {
	position:fixed;
	display:-webkit-flex;
	display:flex;
	-webkit-align-items:center;
	align-items:center;
	-webkit-justify-content:center;
	justify-content:center;
	width:100%;
	height:100%;
	top:0;
	left:0;
}
.io-model-wind {
	position:relative;
	max-width:850px;
	min-width:280px;
	background:#fff;
	border-radius:5px;
}
.io-model-wind .notice-dismiss:before{
    font-size: 30px;
    width: 22px;
}
.io-model-wind p{
    margin-top: 0;
}
.io-model-doc {
	position:relative;
    min-width:300px;
	margin:20px;
	word-break:break-all;
}
.io-model-bg {
	opacity:.5;
	position:absolute;
	width:100%;
	height:100%;
	top:0;
	left:0;
	background:#000;
}
.io-model-body{
    margin-top: 15px;
    background: #eee;
    border-radius: 5px;
    padding: 10px;
}
.io-model-log{
    overflow-y: auto;
    max-height: 200px;
}
.form-group {
    margin-bottom: 1rem;
}

label {
    display: inline-block;
    margin-bottom: 0.5rem;
}
.form-control {
    display: block;
    width: 100%;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.io-model select {
    word-wrap: normal;
}

.footer-btn{
    text-align: right;
    margin-bottom: 1rem;
}
.pay-container{
	font-size: 14px;
    color: #4e697d;
    line-height: 1.4;
    overflow: hidden;
}
.pay-container .row-3 {
    margin: 5px;
    display: inline-block;
    width: calc(33.3333% - 14px);
}
.pay-container .pay-body {
    padding: 10px 17px;
    min-height: 50px;
    background: #fff;
    border: 1px solid #E6E9ED;
    transition: all .2s ease;
    border-radius: 6px;
}
.pay-body .count {
    font-size: 2.25em;
}

.pay-body .count-bottom {
    font-size: 0.825em;
}

@media (max-width: 640px){
.pay-container .row-3 {
    width: calc(50% - 6px);
    margin: 2px;
}
}